@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #000000; */
  font-family: 'Handjet', cursive;
}

.prompt{
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  margin: 0 30px;
  /* position: fixed;
  top: 0; */
  color: #ffffff;
  filter: drop-shadow(0 0 8px #ffffff);
}

.terminal{
  color: #ffffff;
  filter: drop-shadow(0 0 8px #ffffff);
  /* position: fixed;
  top: 14%; */
  margin: 0 30px;
  font-size: 24px;
}

.terminal p{
  margin: 0;
}

.prompt h1{
  /* font-size: 18px; */
  text-transform: capitalize;
}

.lst , .st, .prompt button{
  position: fixed;
  bottom: 1%;
  cursor: pointer;
  /* bottom: 9%; */
  right: 0;
  margin: 10px 50px;
  padding: 0 10px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Times New Roman', cursive;
  box-shadow: inset 0 0 5px #ffffff;
  filter: drop-shadow(0 0 5px #ffffff);
  border-radius: 10px;
}

.st{
  bottom: 0%;
}

